body {
  font-family: 'helvetica neue', georgia, sans-serif;
  font-weight: 300;
  background-color: #DFB9FC;
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h2 {
  color:purple;
}
h4 {
  color:red;
}
.awesome {
  color:blue;
}
